#bottom-nav {
  position:fixed;
  bottom:0;
  display: flex;
  direction: row;
  justify-content: center;
}

.bottom-nav-item {
  width: 33vw;
  justify-content: center;
}

.bottom-nav-icon {
  font-size: 20px;
  padding-right: 1em;
  padding-left: 2em;
}
