#my-token-list-page-container {
  display: flex;
  flex-direction: column;
  margin-left: .5em;
  align-items: left;
  margin-top: .25em
}

#token-list-container {
  width: 90%;
}

#panel-title-container {
  display: flex;
  justify-content: space-between
}

#panel-title {
  align-self: center
}
